<div class="container mt-5 mb-5">
  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Dönem Ortalamalari</h5>
          <app-period-average></app-period-average>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Yarıyıl Ortalamalari</h5>
          <app-semester-average></app-semester-average>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Ders Basari Oranlari</h5>
          <app-lesson-status-ratio></app-lesson-status-ratio>
        </div>
      </div>
    </div>
  </div>
</div>
