.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}
