<app-header></app-header>
<div class="login-container">
  <div class="row justify-content-center align-items-center mt-5 ">
    <!-- spin -->
    @if (componentToShow == "spin") {
      <div class="text-center">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only"></span>
        </div>
      </div>

    } @else if (componentToShow == "loginForm") {
      <!-- Login Form -->
      <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <app-login-form (onSubmitLoginEvent)="onLogin($event)"></app-login-form>
      </div>
    }
  </div>
</div>
<app-footer></app-footer>
