<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-4" style="font-size: 24px;">Ders Programi</h5>
    @if (lessons != null) {
      <div class="row">
        @for (day of days; track $index) {
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-header bg-success text-white">
                <strong>{{ day }}</strong>
              </div>
              <ul class="list-group list-group-flush">
                @for (lesson of lessons; track $index) {
                  @if (day == lesson.day) {
                    <li class="list-group-item">
                      <strong><i class="fas fa-clock"></i> Zaman:</strong> {{ lesson.time }}<br>
                      <strong><i class="fas fa-book"></i> Ders:</strong> {{ lesson.name }}<br>
                      <strong><i class="fas fa-map-marker-alt"></i> Yer:</strong> {{ lesson.location }}
                    </li>
                  }
                }
              </ul>
            </div>
          </div>
        }</div>
    } @else {
      <p class="text-muted">Henüz program bilgisi bulunmamaktadır.</p>
    }
  </div>
</div>
