<div class="container-fluid login-container">
  <div class="row justify-content-center align-items-center">
    <div class="card col col-5 mb-3 mt-3">
      <div class="card-body">
        <app-signin></app-signin>
      </div>
    </div>
    <div class="card card col col-7 mt-3 mb-3">
      <div class="card-header text-center">
        <h2>Duyurular</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <h2>test1</h2>
          </li>
          <li><h2>test2</h2></li>
        </ul>

      </div>
    </div>
  </div>
</div>
