<div class="container mt-5 mb-5">
  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">

    <div class="col">
      <app-lessons-program></app-lessons-program>
    </div>


    <div class="col">
      <app-exam-calendar></app-exam-calendar>
    </div>


    <div class="col">
      <app-my-lessons></app-my-lessons>
    </div>

    <!-- Harç Bilgileri -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tuition Information</h5>
          <p class="card-text">Here you can find information about tuition.</p>
          <a href="#" class="btn btn-primary">Go to Tuition Information</a>
        </div>
      </div>
    </div>


  </div>
</div>
