<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
    <!-- Ders Programı -->
    <div class="col">
      <app-lessons-program></app-lessons-program>
    </div>

    <!-- Sınav Takvimi -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Exam Calendar</h5>
          <p class="card-text">Here you can find your exam calendar.</p>
          <a href="#" class="btn btn-primary">Go to Exam Calendar</a>
        </div>
      </div>
    </div>

    <!-- Alınan Dersler -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Enrolled Courses</h5>
          <p class="card-text">Here you can see the courses you are enrolled in.</p>
          <a href="#" class="btn btn-primary">Go to Enrolled Courses</a>
        </div>
      </div>
    </div>

    <!-- Harç Bilgileri -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tuition Information</h5>
          <p class="card-text">Here you can find information about tuition.</p>
          <a href="#" class="btn btn-primary">Go to Tuition Information</a>
        </div>
      </div>
    </div>

    <!-- Genel Duyurular -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">General Announcements</h5>
          <p class="card-text">Here you can find general announcements.</p>
          <a href="#" class="btn btn-primary">Go to General Announcements</a>
        </div>
      </div>
    </div>
  </div>
</div>
