<div class="container-fluid login-container">
  <div class="row justify-content-center align-items-center">
    <!-- 'justify-content-center' ve 'align-items-center' sınıfları eklendi -->
    <div class="card col mb-3 mt-3">
      <div class="card-body">
        <app-signin></app-signin>
      </div>
    </div>
    <div class="card col col-8 m-3 mb-3 mt-3 ">
      <div class="card-body text-center">
        <img src="assets/images/logo.gif" class="mx-auto">
      </div>
    </div>
  </div>
</div>
