<div class="card">
  <div class="card-body">
    <div class="card-title mb-3 fw-bolder fs-4">Sign in</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Student email input -->
      <div class="form-floating mb-3">
        <input type="email" class="form-control input-text" id="floatingInput" placeholder="****@gmail.com"
               formControlName="email" required>
        <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="invalid-feedback">
          Email is required
        </div>
        <label for="floatingInput">Student Email</label>
      </div>
      <!-- Password input -->
      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="{{ showPassword ? 'text' : 'password' }}"
                 class="form-control input-text"
                 id="floatingInputGroup1"
                 formControlName="studentPassword"
                 placeholder="Password"
                 required
                 [ngClass]="{ 'ng-invalid': loginForm.get('studentPassword').invalid && (loginForm.get('studentPassword').dirty || loginForm.get('studentPassword').touched) }">

          <div *ngIf="loginForm.get('studentPassword').invalid && (loginForm.get('studentPassword').dirty || loginForm.get('studentPassword').touched)" class="invalid-feedback">
            Password is required
          </div>
          <label for="floatingInputGroup1">Password</label>
        </div>
        <button class="btn btn-outline-secondary" type="button" (mouseenter)="togglePassword()"
                (mouseleave)="togglePassword()">
          <i class="bi" [ngClass]="{'bi-eye-slash': !showPassword, 'bi-eye': showPassword}"></i>
        </button>
      </div>

      <!-- reCaptcha2 -->
      <div class="form-floating mb-3">
        <ngx-recaptcha2 [siteKey]="siteKey" size="normal"></ngx-recaptcha2>
      </div>
      <div class="d-flex flex-wrap">
        <button type="submit" class="btn btn-primary btn-block mt-3 mb-3 me-1 flex-fill">
          <span style="color: white; font-weight: bold;">Sign in <i class="bi bi-box-arrow-in-right"></i></span>
        </button>
        <button type="button" class="btn btn-danger btn-block mt-3 mb-3 flex-fill">
          <span style="color: white; font-weight: bold; text-decoration: none;">Sign in with E-Devlet <i
            class="bi bi-box-arrow-up-right"></i></span>
        </button>
      </div>
    </form>
  </div>
</div>
