.table-responsive {
  margin-top: 20px;
}

.table {
  margin-bottom: 0;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.text-muted {
  font-size: 1.2rem;
}
